@font-face {
  font-family: 'NoirPro';
  src: url('NoirPro-Light.eot%3F') format('embedded-opentype'),
  url('NoirPro-Light.woff.html') format('woff'),
  url('NoirPro-Light.woff2.html') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url('NoirPro-Regular.eot%3F') format('embedded-opentype'),
  url('NoirPro-Regular.woff.html') format('woff'),
  url('NoirPro-Regular.woff2.html') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url('NoirPro-Medium.eot%3F') format('embedded-opentype'),
  url('NoirPro-Medium.woff.html') format('woff'),
  url('NoirPro-Medium.woff2.html') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url('NoirPro-SemiBold.eot%3F') format('embedded-opentype'),
  url('NoirPro-SemiBold.woff.html') format('woff'),
  url('NoirPro-SemiBold.woff2.html') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url('NoirPro-Bold.eot%3F') format('embedded-opentype'),
  url('NoirPro-Bold.woff.html') format('woff'),
  url('NoirPro-Bold.woff2.html') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NoirPro';
  src: url('NoirPro-Heavy.eot%3F') format('embedded-opentype'),
  url('NoirPro-Heavy.woff.html') format('woff'),
  url('NoirPro-Heavy.woff2.html') format('woff2');
  font-weight: 900;
  font-style: normal;
}
